@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

*,
::before,
::after {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: hsl(0, 0%, 98%);
  font-size: 15px;
  margin: 0;
}

header {
  margin: 30px auto;
  max-width: 500px;
  text-align: center;
}

h1 {
  margin: 0;
}

span {
  font-weight: 200;
}

p {
  color: hsl(229, 6%, 66%);
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
}

.box {
  background-color: #fff;
  box-shadow: 0 0 10px hsl(229, 6%, 66%);
  border-radius: 5px;
  margin: 15px;
  overflow: hidden;
  padding: 30px;
  position: relative;
  width: 350px;
}

.box::after {
  content: "";
  /* background-color: hsl(180, 62%, 55%); */
  height: 5px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

h3 {
  margin: 0;
  font-weight: 600;
}

.box p {
  margin: 15px 0 30px;
}

.cyan::after {
  background-color: hsl(180, 62%, 55%);
}

.orange::after {
  background-color: hsl(34, 97%, 64%);
  order: 2;
}

.blue::after {
  background-color: hsl(212, 86%, 64%);
}

.red::after {
  background-color: hsl(0, 78%, 62%);
}

.push-down {
  transform: translateY(50%);
}

img {
  display: block;
  margin-left: auto;
}

.footer {
  margin-top: auto;
  text-align: center;
}

@media (max-width: 776px) {
  .push-down {
    transform: translateY(0);
  }
}
